
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Redirecting Email</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">


</head>

<body>

  <h1>You Clicked on an Email Link:</h1>

<div class="around">
  <p style="font-size: 1.5rem;">The Email You are About to Send too is:</p>

  <h2 class="monospace" id="email">{{ value }}</h2>

  <p><a id="copyEmail" onclick="var copyText = document.getElementById('email'); copyText.select();copyText.setSelectionRange(0, 99999); document.execCommand('copy');">Copy This Email</a></p>

</div>
  <h1><a href="" onclick="window.location = '{{mailTo}}'">Go To Your Email App</a></h1>

  <footer class="footer">
    <a href="/create">Generate Your Own Link!</a><br>
      Built by <a href="https://shad0w.tk/v2/">Shad0w7</a>
      
  </footer>


</body>

</html>