
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Wrong Email</title>
  <meta name="author" content="">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
  <script>
    </script>

</head>

<body>

  <h1>This Link was Formatted Incorrectly</h1>

<div class="around">
  <p style="font-size: 1.5rem;">Your website had a link for an email, but turns out the link was wrong. . .</p>
</div>

<footer class="footer">
  <a href="/create">Generate Your Own Link!</a><br>
    Built by <a href="https://shad0w.tk/v2/">Shad0w7</a>
    
</footer>

</body>

</html>